<%= partial 'partials/head' %>

  <body id="top" class="<%= page_classes %>">
    
    <% current_locale = I18n.locale.to_s %>
    <!-- Newsletter -->


    <%# partial 'partials/newsletter_' + current_locale %>
    <!-- end newsletter -->
    <!-- Header -->
    <!-- Le Header -->
    <header class="slider">
        <div id="slider" class="carousel slide">
            <!-- Le Carousel-->
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag("bg/cover/cover-1.jpg", class: "slider-photo-1", resize_to: "1500") %>
                </div>
                <div class="item">
                <%= image_tag("bg/cover/cover-13.jpg", class: "slider-photo-2", resize_to: "1500") %>
                </div>
                <div class="item">
                    <%= image_tag("bg/cover/cover-8.jpg", class: "slider-photo-3", resize_to: "1500") %>
                </div>
            </div>
        </div>
        <div class="overlay">
        <p id="languages"><a href="<%= data.site.english.url %>"><%= t :english %></a>  ||  <a href="<%= data.site.french.url %>"><%= t :french %></a></p>
            <article>
            <% if current_locale == "fr" %>
              <% root = data.site.french.url %>
            <% else %>
              <% root = data.site.english.url %>
            <% end %>

              <div class="top-logo-wrapper">
                <a href="<%= root %>"><%= image_tag 'logo-cms-white.svg', alt: 'Logo Céline Martinet Sanchez', class: 'top-logo' %></a>
              </div>
            <% if current_page.url == '/' || current_page.url == '/fr' %>
                <h1 class="header-name">Céline MS</h1>
            <%  else %>
                <h2 class="header-name">Céline MS</h2>

            <% end %>
                <h2><%= t(:developer) %> &middot; <%= t(:teacher) %> &middot; <%= t(:entrepreneur) %></h2>
            </article>
        </div>
    </header>
    <!-- Navbar -->
    <%# partial 'partials/navbar_' + current_locale %>
    <!-- end navbar -->

    <%= yield %>

    <%= partial "partials/footer.erb" %>

        <!-- Scripts -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        <%= javascript_include_tag 'library.js' %>
        <%= javascript_include_tag 'scripts.js' %>
        <script>
        $(function() {
            Grid.init();
        });
        // Init Google Map
        GoogleMapInit();
        ShowPins();  
        </script>

      </body>
    </html>
