
<!-- Things I Write -->
<section id="thingsiwrite" class="fadeInDownBig">
    <div class="container">
        <h1 class="title">
            <%= defined?(title) ? title : "" %>
        </h1>
        <h2 class="sub-title">
            <%= defined?(subtitle) ? subtitle : ""%>

        </h2>

        <div class="blog clearfix">
            <ul>


            <% articles.each do |article| %>
            <li>
                <div class="post-image">
                    <a href="<%= article.path %>"><img src="<%= data.site.imagepath + article.data.picture %>" alt="<%= article.data.pictureAlt %>"></a>
                </div>

                <h3><%= link_to article.title, (data.site.english.url + "/" + article.path)%></h3>
                <p><%= article.data.summary %></p>
                <div class="meta">
                    <span><i class="fa fa-calendar"></i><%= article.data.date.strftime("%Y") %></span>
                    <span><i class="fa fa-slack"></i> <%= link_to article.data.category, category_path(article.data.category) %> </span>
                    <!-- <span><i class="fa fa-comments-o"></i> 2</span> -->
                </div>
            </li>
            <% end %>
            </ul>
        </div>

        <!-- <div class="display-block text-center add-top">
            <ul class="pagination">
                <li><a href="#">&larr;</a></li>
                <li class="active"><a href="#">10</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">&rarr;</a></li>
            </ul>
        </div> -->
    </div>
</section> 
