<nav id="top-navbar" class="affix">
    <div class="container">
        <div class="row">
            <ul id="navbar-fixed-top">
                <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Haut</span></a></li>
                <li class="col-sm-2">
                    <%= link_to 'Websites', '/development.html' %>
                </li>
                <li class="col-sm-2">
                    <%= link_to 'Training', '/training.html' %>
                </li>
                <li class="col-sm-2">
                    <%= link_to 'Start-up', '/projects.html' %>
                </li>
                <li class="col-sm-2">
                   <%= link_to 'Contact', '/contact.html' %>
                </li>
<!--                 <li class="col-sm-2">
                    <%= link_to 'Blog', '/articles.html' %>
                </li> -->
                <li class="col-sm-1"><a href="#footer"><i class="fa fa-chevron-down"></i><span class="hidden">Get Connected</span></a></li>
            </ul>
        </div>
    </div>
</nav>

