<nav>
    <div class="container">
        <div class="row">
            <ul id="top-menu navbar-fixed-top">
                <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Haut</span></a></li>
                <li class="col-sm-2">
                    <a href="<%= category_path('referencement-naturel') %>">SEO</a>
                </li>
                <li class="col-sm-2">
                    <a href="<%= category_path('developpement') %>">Développement</a>
                </li>
                <li class="col-sm-2">
                    <a href="<%= category_path('design-web') %>">Web Design</a>
                </li>
                <li class="col-sm-2">
                    <a href="<%= category_path('projets') %>">Projets</a>
                </li>
                <li class="col-sm-2">
                    <a href="<%= category_path('vrac') %>">Vrac</a>
                </li>
                <li class="col-sm-1"><a href="#footer"><i class="fa fa-chevron-down"></i><span class="hidden">Get Connected</span></a></li>
            </ul>
        </div>
    </div>
</nav>

