    <div class="container">
      <h2 class="text-center">
          <%= global_title %>
      </h2>
        <div class="portfolio clearfix add-margin">
            <div class="main row">
              <div class="button-group filter-button-group list-inline" data-toggle="buttons"">
                <button type="button" data-filter="*" class="btn btn-outline-info active" data-toggle="button" aria-pressed="true">Tout</button>
                <% data.tags.each do |tag|%>
                    <button type="button" data-filter=".<%= tag.id %>" class="btn btn-outline-info" data-toggle="button" aria-pressed="false" autocomplete="off"><%= tag.send(I18n.locale).name %></button>
                <% end %>
              </div>

                <ul id="isotope" class="og-grid add-margin">
                  <div class="isotope-sizer"></div>
                <% projects.each do |project| %>
                <div class="isotope-item <%= project.tags.join(' ') %>">
                    <li class="card filter-web">
                      <a href="<%= project.url %>" target="_blank" data-type="image"><img class="card-img-top" src="<%= image_path(project.picture) %>" alt="<%= project.pictureAlt %>"></a>
                      <div class="card-body">
                        <h5 class="card-title"><%= project.title %></h5>
                        <p class="card-text"><%= project.description %></p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item tags">
                            <p><%= project.dev_description if project.dev_description%></p>
                            <p><% project.stack.each do |s| %>
                              <span class="tag"><%= s %></span>
                              <% end %>
                            </p>
                          </li>
                        </ul>
                        <% unless project.url.nil? %>
                        <div class="card-body" style="padding-bottom: 0;">
                          <a href="<%= project.url %>" class="card-link" target="_link" data-type="button"><%= project.more %></a>
                        </div>
                        <% end %>

                      </div>
                    </li>
                </div>


<!--
                  <li class="filter-web isotope-item <%= project.tags.join(' ') %>">
                    <a data-id="<%= project.id %>" data-href="<%= project.subpageUrl %>" data-title="<%= project.title %>" data-description="<%= project.description %>", data-link="<%= project.more %>">
                      <figure>
                      <% if project.workInProgress == true %>
                          <p class="work_in_progress">
                          <span>En cours</span>
                          </p>
                      <%end%>
                          <div class="text-overlay">
                              <div class="info"><%= project.title %></div>
                          </div>
                          <img src="<%= image_path(project.picture) %>" alt="<%= project.pictureAlt %>">
                      </figure>
                    </a>
                  </li> -->
                <% end %>
                </ul>
            </div>
        </div>
    </div>
