<!-- Stuff I Made -->

<section id="stuffimade" class="bounceIn">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1 class="title">
                    <%= globalTitle %>
                </h1>
                <h2 class="sub-title">
                    <%= globalSubtitle %>
                </h2>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="portfolio clearfix">
            <div class="main row">
                <ul id="og-grid" class="og-grid">

                <% projects.each do |project| %>
                  <li class="filter-web">
                    <a href="<%= project.subpageUrl %>" data-largesrc="<%= data.site.imagepath + project.bigPicture %>" data-title="<%= project.title %>" data-description="<%= project.description %>", data-link="<%= project.more %>", data-largesrcalt="<%= project.bigPictureAlt %>" >
                      <figure>
                      <% if project.workInProgress == true %>
                          <p class="work_in_progress">
                          <span><%= t(:workInProgress) %></span>
                          </p>
                      <%end%>
                          <div class="text-overlay">
                              <div class="info"><%= project.title %></div>
                          </div>
                          <img src="<%= data.site.imagepath + project.picture %>" alt="<%= project.pictureAlt %>">
                      </figure>
                    </a>
                  </li>
                <% end %>
                </ul>
            </div>
        </div>
    </div>
</section>