<!-- Social Bar -->
<section id="social-bar">
    <div class="container">
        <div class="social-wrapper">
            <h2>Social Places</h2>
            <div class="social" style="height: 80px;">
                <div><a href="#"><%= image_tag "social/facebook.png", :alt => "Facebook page" %></a></div>
                <div><a href="#"><%= image_tag "social/google.png", :alt => "Google plus" %></a></div>
                <div><a href="#"><%= image_tag "social/twitter.png", :alt => "Twitter" %></a></div>
                <div><a href="#"><%= image_tag "social/linkedin.png", :alt => "Linked In" %></a></div>
                <!-- <div><a href="#"><img src="images/social/dribbble.png" alt="Dribbble"></a></div> -->
                <!-- <div><a href="#"><img src="images/social/forrst.png" alt="Forrst"></a></div> -->
                <!-- <div><a href="#"><img src="images/social/zerply.png" alt="Zerply"></a></div> -->
                <!-- <div><a href="#"><%= image_tag "social/skype.png", :alt => "Skype" %></a></div> -->
                <!-- <div><a href="#"><img src="images/social/youtube.png" alt="Youtube"></a></div> -->
            </div><a class="show-more" href="#" style="display: none;"></a>
        </div>
    </div>
</section> 
