
<p><a href="<%= data.site.english.url %>"><%= t :english %></a>  ||  <a href="<%= data.site.french.url %>"><%= t :french %></a></p>
<% blog.local_articles.each do |article| %>
  <article>
    <%= link_to article.title, article.path%> <%# Note `article.path` in the second argument %>
    <%= article.data.summary %>
    <%= link_to I18n.t(:readmore), article %>
  </article>
<% end %>

<%= category_path('HTML5') %>