---
layout: mainsite
---

<% current_locale = I18n.locale.to_s %>

<% @title = t(:index_title) %>
<% @description = t(:index_description) %>

<% content_for :page_picture do %>
  <% image_path('piano.jpg') %>
<% end %>

<section id="presentation">
    <div class="container">
        <div class="row add-margin">
            <div class="col-sm-4">
                <%= image_tag("celine-martinet-sanchez.jpg", class: "img-responsive") %>
            </div>
            <div class="col-sm-8">
                <h1><%= t(:presentationTitle) %></h1>
                <p><%= t(:presentationText) %></p>
            </div>
        </div>
    </div>    
</section>

<!-- uncomment to make the blog live -->

<% partial 'partials/last_articles', :locals => { 
    :title => t(:indexLastPosts),
    :subtitle => t(:indexLastPostsSubtitle),
    :articles => blog.local_articles
    }
%>

<!-- Who I Am -->
<section id="whoiam">
    <div class="container">
        <h1 class="title">
            <%= t(:whoiam) %>
        </h1>
        <h2 class="sub-title">
            <%= t(:whoIAmText) %>
        </h2>
        
        <h3 class="heading turquoise"><i class="fa fa-camera-retro"></i><%= t(:iAmCreative) %></h3>
            
        <div class="row add-margin">
            <div class="col-sm-6">
                <p>
                    <%= image_tag("celine-martinet-sanchez-photographe.jpg", class: "img-responsive") %>
                    <span class="picture-copyright">Hervé Brière</span>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <%= t(:iAmCreative1) %>
                </p>
                <p>
                    <%= t(:iAmCreative2) %>
                </p>
                
                <!-- <p><a href="resume.html" class="btn btn-danger btn-sm"><i class="fa fa-download"></i> Download My Resume</a></p> -->
            </div>
        </div>
        
        <h3 class="heading blue"><i class="fa fa-qrcode"></i> <%= t(:iAmStructured) %></h3>
        
        <div class="row add-margin">
            <div class="col-sm-4">
                <p>
                    <%= t(:iAmStructured1)%>
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    <%= t(:iAmStructured2) %>
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    <%= image_tag("people/bruce-boulanger.jpg", class: "people-picture pull-left") %>
                    <%= t(:iAmStructured3)%>
                    <em><a href="cn.linkedin.com/in/bruceboulanger" target="_blank">Bruce Boulanger, China General Manager, Viva Santé</a></em>
                </p>
            </div>
        </div>
        
        <h3 class="heading orange"><i class="fa fa-user"></i><%= t(:iAmListening) %></h3>
        
        <div class="add-md-top">
            <div class="col-sm-4">
                <p>
                    <%= t(:iAmListening1) %>
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    <%= t(:iAmListening2) %>
                </p>
            </div>
            <div class="col-sm-4">
                <%= image_tag("people/adeline-canquelain.jpg", class: "pull-left people-picture") %>
                <p><%= t(:iAmListening3) %></p>
                <p><em><a href="fr.linkedin.com/in/adelinecanquelain/en" target="_blank">Adeline Canquelain, Training Manager</a></em></p>
            </div>
        </div>
    </div>
</section>



    
<!-- What I Do -->
<section id="whatido" class="rotateInUpLeft">
    <div class="container">
        <h1 class="title"><%= t(:whatIDo) %></h1>
        <h2 class="sub-title">
            <%= t(:whatIDoSubtitle) %>
        </h2>
        
        <div class="row services">
            <a href="
            <% if current_locale == "fr" %>
                <%= data.site.french.url + "/" + "developpement.html"%>
            <% else %>
                <%= data.site.english.url + "/" + "development.html" %>
            <% end %>
            ">
                <div class="col-sm-4">
                    <h2><i class="icon-picons-favorite"></i></h2>
                    <h5><%= t(:whatIDo1Title) %></h5>
                    <p><%= t(:whatIDo1Text) %></p>
                </div>
            </a>
            <a href="
            <% if current_locale == "fr" %>
                <%= data.site.french.url + "/" + "formation.html"%>
            <% else %>
                <%= data.site.english.url + "/" + "training.html" %>
            <% end %>
            ">
                <div class="col-sm-4">
                    <h2><i class="icon-picons-chat"></i></h2>
                    <h5><%= t(:whatIDo2Title) %></h5>
                    <p><%= t(:whatIDo2Text) %></p>
                </div>
            </a>
            <a href="
            <% if current_locale == "fr" %>
                <%= data.site.french.url + "/" + "projets.html"%>
            <% else %>
                <%= data.site.english.url + "/" + "projects.html" %>
            <% end %>
            ">
                <div class="col-sm-4">
                    <h2><i class="icon-picons-battery-5"></i></h2>
                    <h5><%= t(:whatIDo3Title) %></h5>
                    <p><%= t(:whatIDo3Text) %></p>
                </div>
            </a>
        </div>
        
        <hr />
        
        <div class="row add-lg-top add-bottom">
            <div class="col-sm-4">
                <h3><%= t(:keySkillsTitle) %></h3>
                <p><%= t(:keySkillsText) %></p>
            </div>
            <div class="col-sm-4">
                <div id="skillbar-1" class="skillbar clearfix notinview" data-percent="90%">
                    <div class="skillbar-title">
                        <span>HTML / CSS / JS</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #f09b30;"></div>
                        <div class="pointerval">
                            <span class="value">90%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
                <div id="skillbar-2" class="skillbar clearfix notinview" data-percent="70%">
                    <div class="skillbar-title">
                        <span>Ruby on Rails</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #2A67BF;"></div>
                        <div class="pointerval">
                            <span class="value">70%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
                <div id="skillbar-3" class="skillbar clearfix notinview" data-percent="80%">
                    <div class="skillbar-title">
                        <span><%= t(:SEO) %></span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #E46B24;"></div>
                        <div class="pointerval">
                            <span class="value">80%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
                <div id="skillbar-4" class="skillbar clearfix notinview" data-percent="80%">
                    <div class="skillbar-title">
                        <span>Wordpress</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #738d00;"></div>
                        <div class="pointerval">
                            <span class="value">95%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="progress progress-danger border-radius" data-appear-progress-animation="40%">
                <div class="bar" style="width: 40%; text-indent: 10px;">Ruby 40%</div>
                </div>
                
                <div class="progress progress-success border-radius" data-appear-progress-animation="70%">
                <div class="bar" style="width: 70%; text-indent: 10px;"><%= t(:UX) %> 70%</div>
                </div>
                
                <div class="progress progress-info border-radius" data-appear-progress-animation="90%">
                <div class="bar" style="width: 90%; text-indent: 10px;"><%= t(:digitalCommunication) %> 90%</div>
                </div>
                
                <div class="progress progress-warning border-radius" data-appear-progress-animation="40%">
                <div class="bar" style="width: 40%; text-indent: 10px;">Lean startup 40%</div>
                </div>
                
                <div class="progress border-radius" data-appear-progress-animation="80%">
                <div class="bar" style="width: 80%; text-indent: 10px;"><%= t(:codeBestPractices) %> 80%</div>
                </div>
            </div>
        </div>
        
        <hr />
        
        <h2 class="sub-title add-lg-top">
            <%= t(:notJob) %>
        </h2>
        
        <div class="row services2">
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-bicycle"></i>
                <h4><%= t(:perso1Title)%></h4>
                <p><%= t(:perso1Text) %></p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-step"></i>
                <h4><%= t(:perso2Title)%></h4>
                <p><%= t(:perso2Text) %></p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-earth"></i>
                <h4><%= t(:perso3Title)%></h4>
                <p><%= t(:perso3Text) %></p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-ship"></i>
                <h4><%= t(:perso4Title)%></h4>
                <p><%= t(:perso4Text) %></p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-iphone"></i>
                <h4><%= t(:perso5Title)%></h4>
                <p><%= t(:perso5Text) %></p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-cloud"></i>
                <h4><%= t(:perso6Title)%></h4>
                <p><%= t(:perso6Text) %></p>
            </div></div>
        </div>
    </div>
</section>

<!-- Only for the index - redirection. Very ugly solution. See if possible with .htaccess -->

<%# partial 'locate_brower_language' %>