---
pageable: true
layout: category
---

<h1>Archive for
  <% case page_type
     when 'day' %>
    <% date = Date.new(year, month, day).strftime('%b %e %Y') %>
    <%= date %>
  <% when 'month' %>
    <% date = Date.new(year, month, 1).strftime('%b %Y') %>
    <%= date %>
  <% when 'year' %>
    <% date = "#{year}" %>
    <%= year %>
  <% end %>
</h1>

<%= partial 'partials/last_articles', :locals => { 
    :title => "Articles tagged" + "`" + date + "`" ,
    :articles => page_articles
    }
%>

<div class="container">
  <div class="post-pagination">
    <div class="row">
      <% if paginate && num_pages > 1 %>
        <% if prev_page %>
          <span class="paginatePrevious"><%= link_to 'Previous page', prev_page, class: "previous" %></span>
        <% end %>
          <span class="paginateNumbers">Page <%= page_number %> of <%= num_pages %></span>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <span class="paginateNext"><%= link_to 'Next page', next_page, class: "next" %></span>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>

