---
layout: base
---

<% content_for(:page_title, "Céline Martinet Sanchez") %>

<% blog.articles.group_by {|a| a.data.category }.each do |category, articles| %>

	<div class="card mb-3 m-auto" style="max-width: 800px;">
	  <div class="row no-gutters">
	    <div class="col-md-4 p-4">
	    	<h2 class="heading <%= data.categories[category.to_sym].color %> card-title"><%= category.capitalize %></h2>
	    		<%= data.categories[category.to_sym].description %>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	      	<ul class="list-unstyled">
			    <% articles[0...3].each do |article| %>
			    <li class="categories">
			        <h3 class="card-title"><a href="<%= article.url %>" class="text-<%= data.categories[category.to_sym].color %>"><%= article.title %></a></h3>
			        <p class="card-text"><%= article.summary %></p>
			    	<!-- <a href="<%= article.url %>">Lire l'article</a> -->
			    	<!-- <p class="card-text"><span class="text-muted"><%# article.date.strftime('%d/%m/%Y') %></span></p> -->
			    </li>
			    <% end %>	
	      	</ul>
	      </div>
	    </div>
	  </div>
	</div>
	  <h5></h5>
	  <ul>
	  </ul>

<% end %>
