---
layout: base
---

<% content_for(:page_title, "Céline Martinet Sanchez") %>

<section class="bg-white animated">
    <div class="container">
		<% blog.articles.group_by {|a| a.data.category }.each do |category, articles| %>

			<div class="card card-categories mb-3 m-auto" style="max-width: 800px;">
			  <div class="row no-gutters">
			    <div class="col-md-4 p-4">
			    	<h2 class="heading <%= data.categories[category.to_sym].color %> card-title">
			    		<%= link_to category.capitalize, category_path(category), class: "text-white" %>
			    	</h2>
			    		<%= data.categories[category.to_sym].description %>
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			      	<ul class="list-unstyled">
					    <% articles[0...3].each do |article| %>
					    <li class="separator">
					        <h3 class="card-title"><a href="<%= article.url %>" class="text-<%= data.categories[category.to_sym].color %>"><%= article.title %></a></h3>
					        <ul class="list-unstyled">
					            <li class="tags">
							        <% article.tags.each do |tag| %>
					                	<a href="<%= tag_path(tag) %>" class="badge badge-secondary"><%= tag %></a>
							        <% end %>
						        </li>
					        </ul>
					        <p class="card-text"><%= article.summary %></p>
					    </li>
					    <% end %>	
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
			  <h5></h5>
			  <ul>
			  </ul>

		<% end %>

	</div>
</section>
